# üìò MBA 564B Module 3 Group Assignment - Part A: Pandas

P-Card Transactions Analysis Using Pandas

‚ñ∂Ô∏è First, run the code cell below to import¬†`unittest`, a module used for¬†**üß≠ Check Your Work**¬†sections and the autograder.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
import unittest

tc = unittest.TestCase()

‚ñ∂Ô∏è Next, run the code cell below to confirm that the input CSV file is present in the same directory as this notebook. If the file is not found, an error message will be displayed.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
import os

# Check if the CSV file exists in the same directory
if not os.path.exists("denton-pcard-transactions-2022-2024.csv"):
    print("Current working directory:", os.getcwd())
    raise Exception(
        "The 'denton-pcard-transactions-2022-2024.csv' file is not found in the current directory"
    )

---

### üéØ Task 1: Import Pandas and NumPy

Import the following Python packages.

- `pandas` using alias `pd`
- `numpy` using alias `np`
- `plotly.express` using alias `px`

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px

---

### üéØ Task 1: Import Pandas and NumPy

Import the following Python packages.

- `pandas` using alias `pd`
- `numpy` using alias `np`
- `plotly.express` using alias `px`

---

### üéØ Task 1: Import Pandas and NumPy

Import the following Python packages.

- `pandas` using alias `pd`
- `numpy` using alias `np`
- `plotly.express` using alias `px`

#### üß≠ Check Your Work

Run the code cell below to test your solution.

- ‚úîÔ∏è If the code cell runs without errors, you're good to move on.
- ‚ùå If the code cell produces an error, review your code and fix any mistakes.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = "check-imports-part-a"
_points = 1

tc.assertTrue(
    ("pd" in globals() and hasattr(globals()["pd"], "DataFrame")),
    "Check whether you have correctly import Pandas with the alias pd.",
)
tc.assertTrue(
    "np" in globals() and hasattr(globals()["np"], "ndarray"),
    "Check whether you have correctly import NumPy with the alias np.",
)
tc.assertTrue(
    "px" in globals() and hasattr(globals()["px"], "scatter"),
    "Check whether you have correctly import plotly.express with the alias px.",
)

---

‚ñ∂Ô∏è Run the code cell below to read City of Denton's P-Card Transactions dataset into a DataFrame named `df`.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
df = pd.read_csv("denton-pcard-transactions-2022-2024.csv")

# df_grading will be used for grading
df_grading = pd.read_csv(
    "https://raw.githubusercontent.com/mba564b/canvas-assignment-static-files/refs/heads/main/city-of-denton-pcard/denton-pcard-transactions-2022-2024.csv"
)

# Display the first 3 rows of the DataFrame
df.head(3)

,MERCHANT,TRANSACTION_DATE,POST_DATE,CARDHOLDER_NAME,AMOUNT,BUSINESS_UNIT,ACCOUNT
0,GOOGLE,2022-01-01,2022-01-03,Gloria Coughlin,30.00,POLICE SUPPORT,LICENSES
1,TFS,2022-01-01,2022-01-03,Adriana Barker,310.80,WASTEWATER - LABORATORY,SMALL TOOLS & INSTRUMENTS
2,WALMART,2022-01-01,2022-01-03,Jason Eddington,182.54,FIRE OPERATIONS,JANITORIAL SUPPLIES

---

### üéØ Task 2: Convert date columns to datetime format

- Convert "TRANSACTION_DATE" and "POST_DATE" columns to datetime format using `pd.to_datetime()`.
- Overwrite the existing columns with the converted datetime values.
- Do not create new columns for the converted dates.

In [ ]:
# YOUR CODE BEGINS
df['TRANSACTION_DATE'] = pd.to_datetime(df['TRANSACTION_DATE'])
df['POST_DATE'] = pd.to_datetime(df['POST_DATE'])
# YOUR CODE ENDS

print(f"TRANSACTION_DATE column dtype: {df['TRANSACTION_DATE'].dtype}")
print(f"POST_DATE column dtype: {df['POST_DATE'].dtype}")

TRANSACTION_DATE column dtype: datetime64[ns]
POST_DATE column dtype: datetime64[ns]

#### üß≠ Check Your Work

Run the code cell below to test your solution.

- ‚úîÔ∏è If the code cell runs without errors, you're good to move on.
- ‚ùå If the code cell produces an error, review your code and fix any mistakes.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = "convert-datetime-columns-pandas"
_points = 1

_todt = pd.to_datetime
df_grading["TRANSACTION_DATE"] = _todt(df_grading["TRANSACTION_DATE"])
df_grading["POST_DATE"] = _todt(df_grading["POST_DATE"])

# Check data types
pd.api.types.is_datetime64_any_dtype(df["TRANSACTION_DATE"])
pd.api.types.is_datetime64_any_dtype(df["POST_DATE"])

# Check values
pd.testing.assert_series_equal(df["TRANSACTION_DATE"], df_grading["TRANSACTION_DATE"])
pd.testing.assert_series_equal(df["POST_DATE"], df_grading["POST_DATE"])

---

### üéØ Task 3: Extract year, month, and year-month from transaction date

- Create a new column named "YEAR" in the DataFrame that extracts the year from a date column named "TRANSACTION_DATE".
- Create a new column named "MONTH" in the DataFrame that extracts the month from the "TRANSACTION_DATE" column.
- Create a new column named "YEAR_MONTH" in the DataFrame that combines the year and month from the "TRANSACTION_DATE" column in "YYYY-MM" format (e.g., "2023-01").
- Use the `.dt` accessor to extract year and month from the datetime column.

In [ ]:
# YOUR CODE BEGINS
df['YEAR'] = df['TRANSACTION_DATE'].dt.year
df['MONTH'] = df['TRANSACTION_DATE'].dt.month
df['YEAR_MONTH'] = df['TRANSACTION_DATE'].dt.strftime('%Y-%m')
# YOUR CODE ENDS

# Print the first 3 rows of the new columns
df[["TRANSACTION_DATE", "YEAR", "MONTH", "YEAR_MONTH"]].head(3)

  TRANSACTION_DATE  YEAR  MONTH YEAR_MONTH
0       2022-01-01  2022      1    2022-01
1       2022-01-01  2022      1    2022-01
2       2022-01-01  2022      1    2022-01

#### üß≠ Check Your Work

Run the code cell below to test your solution.

- ‚úîÔ∏è If the code cell runs without errors, you're good to move on.
- ‚ùå If the code cell produces an error, review your code and fix any mistakes.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = "extract-year-month-pandas"
_points = 1

df_grading["YEAR"] = df_grading["TRANSACTION_DATE"].map(lambda d: d.year)
df_grading["MONTH"] = df_grading["TRANSACTION_DATE"].map(lambda d: d.month)
df_grading["YEAR_MONTH"] = df_grading["TRANSACTION_DATE"].map(
    lambda d: f"{d.year}-{d.month:02d}"
)

pd.testing.assert_series_equal(df["YEAR"], df_grading["YEAR"], check_dtype=False)
pd.testing.assert_series_equal(df["MONTH"], df_grading["MONTH"], check_dtype=False)
pd.testing.assert_series_equal(
    df["YEAR_MONTH"], df_grading["YEAR_MONTH"], check_dtype=False
)

---

### üéØ Task 4: Monthly number of transactions and total amount spent

- For each unique "YEAR_MONTH" value in the DataFrame, calculate the following using `pd.groupby()` and `agg()`:
  - "AMOUNT": The total amount spent in that month.
  - "TRANSACTION_COUNT": The number of transactions made in that month.
- Store the results in a new DataFrame named `df_year_month` with the following columns:
  - "YEAR_MONTH"
  - "AMOUNT"
  - "TRANSACTION_COUNT"
- All three columns should be regular columns (not index).
  - `df_year_month.columns` should print `Index(['YEAR_MONTH', 'AMOUNT', 'TRANSACTION_COUNT'], dtype='object')`.
- Sort the DataFrame by "YEAR_MONTH" in ascending order.

In [ ]:
# YOUR CODE BEGINS
df_year_month = df.groupby('YEAR_MONTH').agg(
    AMOUNT=('AMOUNT', 'sum'),
    TRANSACTION_COUNT=('AMOUNT', 'count')
).reset_index()

df_year_month = df_year_month.sort_values('YEAR_MONTH')
# YOUR CODE ENDS

display(df_year_month.head(3))
print(df_year_month.columns)

  YEAR_MONTH     AMOUNT  TRANSACTION_COUNT
0    2022-01  257415.44               1133
1    2022-02  298910.23               1288
2    2022-03  407361.67               1685

Index(['YEAR_MONTH', 'AMOUNT', 'TRANSACTION_COUNT'], dtype='object')

#### üß≠ Check Your Work

Run the code cell below to test your solution.

- ‚úîÔ∏è If the code cell runs without errors, you're good to move on.
- ‚ùå If the code cell produces an error, review your code and fix any mistakes.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = "summary-by-year-month-pandas"
_points = 2

df_year_month_grading = df_grading.pivot_table(
    index="YEAR_MONTH", values="AMOUNT", aggfunc=["sum", "count"]
).reset_index()

df_year_month_grading.columns = ["YEAR_MONTH", "AMOUNT", "TRANSACTION_COUNT"]

pd.testing.assert_frame_equal(
    df_year_month.reset_index(drop=True),
    df_year_month_grading.reset_index(drop=True),
    check_dtype=False,
    check_exact=False,
)

---

### üéØ Task 5: Visualize monthly amount spent using a bar chart

- Using `df_year_month`, create a bar chart to visualize the total amount spent ("AMOUNT") for each month ("YEAR_MONTH").
- Use Plotly Express (`px.bar()`) to create the bar chart.
- Set the x-axis to "YEAR_MONTH" and the y-axis to "AMOUNT".
- Set an appropriate title for the chart using the `title` parameter of `px.bar()`.
- Store the figure in a variable named `fig`.

In [ ]:
# YOUR CODE BEGINS
fig = px.bar(df_year_month,
             x='YEAR_MONTH',
             y='AMOUNT',
             title='Total Monthly P-Card Spending (2022-2024)')
# YOUR CODE ENDS

fig.show()

#### üß≠ Check Your Work

Run the code cell below to test your solution.

- ‚úîÔ∏è If the code cell runs without errors, you're good to move on.
- ‚ùå If the code cell produces an error, review your code and fix any mistakes.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = "monthly-amount-spent-bar-chart-pandas"
_points = 1

trace = fig.data[0]
assert trace.type == "bar", "Chart must be a bar chart"

assert list(trace.x) == list(df_year_month["YEAR_MONTH"]), "X-axis must be YEAR_MONTH"
assert list(trace.y) == list(df_year_month["AMOUNT"]), "Y-axis must be AMOUNT"
assert fig.layout.title.text is not None and str(fig.layout.title.text).strip() != "", (
    "Chart must include a non-empty title"
)

---

### üéØ Task 6: Identify transactions that require further review

In order to safeguard municipal funds, Texas requires different bidding requirements at differeing levels of purchases (source: City of Denton 2020 Audit of P-Card Process Report). For purchases over $3,000, the city should attempt to acquire at least three quotes. To help identify large purchases, filter the DataFrame to include only transactions over \$3,000.

- Create a new DataFrame named `df_over_3000` that includes only transactions where the AMOUNT is greater than 3000.
- Do not modify the original `df`.

In [ ]:
# YOUR CODE BEGINS
df_over_3000 = df[df['AMOUNT'] > 3000].copy()
# YOUR CODE ENDS

df_over_3000.head(3)

,MERCHANT,TRANSACTION_DATE,POST_DATE,CARDHOLDER_NAME,AMOUNT,BUSINESS_UNIT,ACCOUNT,YEAR,MONTH,YEAR_MONTH
987,LOWES,2022-01-27,2022-01-28,Brian Noles,4260.0,PM TRADES AND LANDSCAPE,MECHANICAL - ELECTRICAL,2022,1,2022-01
2143,B,2022-02-21,2022-02-22,Ronda Barnes,3499.0,PROCUREMENT & CMP - PURCHASING,OUTSIDE CONTRACT SERVICES,2022,2,2022-02
3966,AMAZON,2022-03-30,2022-03-30,Craig Arrington,7717.2,PM TRADES AND LANDSCAPE,MECHANICAL - ELECTRICAL,2022,3,2022-03

#### üß≠ Check Your Work

Run the code cell below to test your solution.

- ‚úîÔ∏è If the code cell runs without errors, you're good to move on.
- ‚ùå If the code cell produces an error, review your code and fix any mistakes.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = "filter-transactions-over-3000-pandas"
_points = 1

assert (df_over_3000["AMOUNT"] > 3000).all(), (
    "df_over_3000 should only include transactions with AMOUNT > 3000"
)

pd.testing.assert_frame_equal(
    df_grading[df_grading["AMOUNT"] > 3000].reset_index(drop=True),
    df_over_3000.reset_index(drop=True),
    check_dtype=False,
)

---

### üéØ Task 7: Identify potential split transactions

According to City of Denton's Procurement Policy:

> Unless formally approved through another procurement method, P-Cards may be used only for "Micro Purchases" (goods or services up to $3,000).

We want to identify potential split transactions, which occur when a purchase that exceeds $3,000 is divided into multiple smaller transactions (often on the same day) to avoid procurement rules.

- Using `df.groupby()` and `agg()` to identify groups of transactions that meet **all** of the following criteria:
  - Same **"TRANSACTION_DATE"**
  - Same **"CARDHOLDER_NAME"**
  - Same **"MERCHANT"**
  - **More than 1** transaction in the group (`TRANSACTION_COUNT > 1`)
  - The **"COMBINED_AMOUNT"** in the group exceeds **$3,000**
- Create a DataFrame named `df_split_transactions` that contains these grouped results.
- The resulting DataFrame must contain **exactly five columns**:
  - `"TRANSACTION_DATE"`
  - `"CARDHOLDER_NAME"`
  - `"MERCHANT"`
  - `"COMBINED_AMOUNT"`
  - `"TRANSACTION_COUNT"`
- All five fields must be regular columns, not part of the DataFrame index.
- Sort `df_split_transactions` by **"COMBINED_AMOUNT"** in descending order, and then by **"TRANSACTION_COUNT"** in descending order.

#### üßæ Expected Output

Your `df_split_transactions` DataFrame should look like the following (the index column omitted for clarity):

| TRANSACTION_DATE | CARDHOLDER_NAME      | MERCHANT                | COMBINED_AMOUNT | TRANSACTION_COUNT |
| :--------------- | :------------------- | :---------------------- | --------------: | ----------------: |
| 2024-05-03       | Katherine Barnett    | LOWES                   |         34330.0 |                 2 |
| 2024-07-11       | Katherine Barnett    | LOWES                   |         17185.0 |                 3 |
| 2024-08-23       | Carol Martin-Roberts | ATL CENTENNIAL PARK ON  |         11180.7 |                 9 |
| 2022-08-31       | Chaunesy Baker       | ALOFT BY MARRIOTT       |         10357.3 |                 3 |
| 2023-12-12       | Patti Mankin         | USC VITERBI FCCC ONLINE |          9000.0 |                 5 |

```
Index(['TRANSACTION_DATE', 'CARDHOLDER_NAME', 'MERCHANT', 'COMBINED_AMOUNT',
       'TRANSACTION_COUNT'],
      dtype='object')
```

In [ ]:
# YOUR CODE BEGINS
df_split_transactions = df.groupby(['TRANSACTION_DATE', 'CARDHOLDER_NAME', 'MERCHANT']).agg(
    COMBINED_AMOUNT=('AMOUNT', 'sum'),
    TRANSACTION_COUNT=('AMOUNT', 'count')
).reset_index()

# Filter based on criteria
df_split_transactions = df_split_transactions[
    (df_split_transactions['TRANSACTION_COUNT'] > 1) &
    (df_split_transactions['COMBINED_AMOUNT'] > 3000)
]

# Sort by amount and count descending
df_split_transactions = df_split_transactions.sort_values(
    ['COMBINED_AMOUNT', 'TRANSACTION_COUNT'],
    ascending=[False, False]
)
# YOUR CODE ENDS

display(df_split_transactions.head())
print(df_split_transactions.columns)

,TRANSACTION_DATE,CARDHOLDER_NAME,MERCHANT,COMBINED_AMOUNT,TRANSACTION_COUNT
39442,2024-05-03,Katherine Barnett,LOWES,34330.0,2
43340,2024-07-11,Katherine Barnett,LOWES,17185.0,3
45983,2024-08-23,Carol Martin-Roberts,ATL CENTENNIAL PARK ON,11180.7,9
10189,2022-08-31,Chaunesy Baker,ALOFT BY MARRIOTT,10357.3,3
32021,2023-12-12,Patti Mankin,USC VITERBI FCCC ONLINE,9000.0,5

Index(['TRANSACTION_DATE', 'CARDHOLDER_NAME', 'MERCHANT', 'COMBINED_AMOUNT',
       'TRANSACTION_COUNT'],
      dtype='object')

#### üß≠ Check Your Work

Run the code cell below to test your solution.

- ‚úîÔ∏è If the code cell runs without errors, you're good to move on.
- ‚ùå If the code cell produces an error, review your code and fix any mistakes.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = "potential-split-transactions-pandas"
_points = 3

expected = df_grading.pivot_table(
    index=["TRANSACTION_DATE", "CARDHOLDER_NAME", "MERCHANT"],
    values="AMOUNT",
    aggfunc=["sum", "count"],
).reset_index()
expected.columns = [
    "TRANSACTION_DATE",
    "CARDHOLDER_NAME",
    "MERCHANT",
    "COMBINED_AMOUNT",
    "TRANSACTION_COUNT",
]
expected = expected.query("(TRANSACTION_COUNT > 1) and (COMBINED_AMOUNT > 3000)")
expected = expected.sort_values(
    ["COMBINED_AMOUNT", "TRANSACTION_COUNT"], ascending=False
).reset_index(drop=True)

pd.testing.assert_series_equal(
    expected["COMBINED_AMOUNT"].reset_index(drop=True),
    df_split_transactions["COMBINED_AMOUNT"].reset_index(drop=True),
    check_exact=False,
    check_dtype=False,
)

pd.testing.assert_frame_equal(
    expected.sort_values(expected.columns.tolist()).reset_index(drop=True),
    df_split_transactions.sort_values(
        df_split_transactions.columns.tolist()
    ).reset_index(drop=True),
    check_dtype=False,
    check_exact=False,
)

---

### üéØ Task 8: Cardholders who have not used their P-Cards in 2023 and 2024

The data spans multiple years (2022-2024). Produce a list of cardholders who had transactions in 2022 but did not in 2023 or 2024.

**Requirements**

- Create a variable named `inactive_cardholders_2023_2024` that is a `list` containing the unique names of cardholders present in 2022 but not in 2023 or 2024.

In [ ]:
# YOUR CODE BEGINS
cardholders_2022 = set(df[df['YEAR'] == 2022]['CARDHOLDER_NAME'])
cardholders_recent = set(df[df['YEAR'].isin([2023, 2024])]['CARDHOLDER_NAME'])

inactive_cardholders_2023_2024 = list(cardholders_2022 - cardholders_recent)
# YOUR CODE ENDS

# sort the list of inactive cardholders alphabetically
inactive_cardholders_2023_2024.sort()

# display the first 5 inactive cardholders
display(inactive_cardholders_2023_2024[:5])
print(
    f"Total inactive cardholders in 2023 and 2024: {len(inactive_cardholders_2023_2024)}"
)

['Annie Bunger',
 'Aubrey Shanahan',
 'Billy Downey',
 'Billy Kamp',
 'Bradley Holland']

Total inactive cardholders in 2023 and 2024: 60

#### üß≠ Check Your Work

Run the code cell below to test your solution.

- ‚úîÔ∏è If the code cell runs without errors, you're good to move on.
- ‚ùå If the code cell produces an error, review your code and fix any mistakes.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = "inactive-cardholders-2023-2024-pandas"
_points = 2

assert "inactive_cardholders_2023_2024" in globals(), (
    "You must create a variable named `inactive_cardholders_2023_2024`."
)
learner_list = globals()["inactive_cardholders_2023_2024"]
assert isinstance(learner_list, list), (
    "`inactive_cardholders_2023_2024` must be a Python list."
)
cardholders_2022_grading = set(df_grading.query("YEAR == 2022")["CARDHOLDER_NAME"])
cardholders_2023_2024_grading = set(
    df_grading.query("YEAR in [2023, 2024]")["CARDHOLDER_NAME"]
)
expected = cardholders_2022_grading - cardholders_2023_2024_grading
assert set(inactive_cardholders_2023_2024) == expected, (
    "The list `inactive_cardholders_2023_2024` does not contain the correct cardholders."
)

---

### üéØ Task 9: Top 10 merchants by amount spent

- Identify the top 10 merchants based on the total amount spent ("AMOUNT") across all transactions.
- Store the results in a DataFrame named `df_top_10_merchants`.
- For each merchant, provide the total amount spent ("TOTAL_AMOUNT") and the number of transactions ("TRANSACTION_COUNT").
- Sort `df_top_10_merchants` by "TOTAL_AMOUNT" in descending order.
- The `df_top_10_merchants` DataFrame should contain exactly 10 rows.

In [ ]:
# YOUR CODE BEGINS
df_top_10_merchants = df.groupby('MERCHANT').agg(
    TOTAL_AMOUNT=('AMOUNT', 'sum'),
    TRANSACTION_COUNT=('AMOUNT', 'count')
).reset_index()

df_top_10_merchants = df_top_10_merchants.sort_values('TOTAL_AMOUNT', ascending=False).head(10)
# YOUR CODE ENDS

df_top_10_merchants

            MERCHANT  TOTAL_AMOUNT  TRANSACTION_COUNT
204           AMAZON    2549928.02              21367
2049           LOWES     481823.63               2730
1503        GRAINGER     371749.00                863
3416  THE HOME DEPOT     349217.60               2133
1769        INTERNAL     293020.13                491
2853      SAM'S CLUB     247918.71               1358
209         AMERICAN     179303.35                542
1637      HOME DEPOT     175335.49               1074
1620          HILTON     111534.44                238
2510          PAYPAL     100802.98                279

#### üß≠ Check Your Work

Run the code cell below to test your solution.

- ‚úîÔ∏è If the code cell runs without errors, you're good to move on.
- ‚ùå If the code cell produces an error, review your code and fix any mistakes.

In [ ]:
# DO NOT CHANGE THE CODE IN THIS CELL
_test_case = "top-10-merchants-pandas"
_points = 2

expected = df_grading.pivot_table(
    index="MERCHANT",
    values="AMOUNT",
    aggfunc=["sum", "count"],
).reset_index()
expected.columns = ["MERCHANT", "TOTAL_AMOUNT", "TRANSACTION_COUNT"]
expected = (
    expected.sort_values("TOTAL_AMOUNT", ascending=False)
    .head(10)
    .reset_index(drop=True)
)

pd.testing.assert_frame_equal(
    df_top_10_merchants.reset_index(drop=True),
    expected.reset_index(drop=True),
    check_dtype=False,
    check_exact=False,
)

## üì§ Submission Instructions

There is one final step before exporting the notebook as an .ipynb file for submission. Restart your runtime (kernel) and run all cells from the beginning to ensure that your notebook does not contain any error.

Submit the following files on Canvas:

1. The completed notebook file (.ipynb)
2. HTML-exported version of the notebook (.html)

You do not need to submit the CSV file (`denton-pcard-transactions-2022-2024.csv`).